.__embed_chat .chat,  {
	margin: 0;
	padding: 0;
}

.__embed_chat * {
	background-attachment: scroll;
	background-color: transparent;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
	border-color: currentcolor;
	border-style: none;
	border-width: medium;
	bottom: auto;
	clear: none;
	clip: auto;
	color: inherit;
	counter-increment: none;
	counter-reset: none;
	cursor: auto;
	direction: inherit;
	display: block;
	float: none;
	font-size: inherit;
	font-style: inherit;
	font-variant: normal;
	font-weight: inherit;
	height: auto;
	left: auto;
	letter-spacing: normal;
	line-height: inherit;
	list-style-type: inherit;
	list-style-position: outside;
	list-style-image: none;
	margin: 0;
	max-height: none;
	max-width: none;
	min-height: 0;
	min-width: 0;
	outline: 0;
	overflow: visible;
	padding: 0;
	position: static;
	quotes: "" "";
	right: auto;
	table-layout: auto;
	text-align: inherit;
	text-decoration: inherit;
	text-indent: 0;
	text-transform: none;
	text-rendering: auto;
	top: auto;
	unicode-bidi: normal;
	vertical-align: baseline;
	visibility: inherit;
	white-space: normal;
	width: auto;
	word-spacing: normal;
	z-index: auto;
	-webkit-background-origin: padding;
	-moz-background-origin: padding;
	-ms-background-origin: padding-box;
	-o-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border;
	-moz-background-clip: border;
	background-clip: border-box;
	-webkit-background-size: auto;
	-moz-background-size: auto;
	-o-background-size: auto;
	background-size: auto;
	-moz-border-image: -moz--compass-list(none);
	-webkit-border-image: -owg--compass-list(none);
	-webkit-border-image: -webkit--compass-list(none);
	-o-border-image: -o--compass-list(none);
	border-image: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	column-count: auto;
	column-gap: normal;
	column-rule: medium none #000;
	column-width: auto;
	column-span: 1;
	-webkit-text-fill-color: currentcolor;
	-webkit-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	-ms-tap-highlight-color: transparent;
	-o-tap-highlight-color: transparent;
	font-feature-settings: normal;
	overflow-x: visible;
	overflow-y: visible;
	-webkit-hyphens: manual;
	-moz-hyphens: manual;
	-ms-hyphens: manual;
	hyphens: manual;
	-webkit-hyphenate-character: "â€";
	hyphenate-character: "â€";
	-webkit-perspective: none;
	-moz-perspective: none;
	-ms-perspective: none;
	-o-perspective: none;
	perspective: none;
	-webkit-perspective-origin: 50% 50%;
	-moz-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	-o-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
	-webkit-backface-visibility: visible;
	-moz-backface-visibility: visible;
	-ms-backface-visibility: visible;
	-o-backface-visibility: visible;
	backface-visibility: visible;
	text-shadow: none;
	-webkit-transition: all 0s ease;
	-webkit-transition-delay: 0s;
	-moz-transition: all 0s ease 0s;
	-o-transition: all 0s ease 0s;
	transition: all 0s ease 0s;
	word-break: normal;
	color: #343434;
}

.__embed_chat strong {
	display: inline;
	font-weight: bold;
}

.__embed_chat .chat {
	position: fixed;
	font-size: 17px;

	right: 25px;
	bottom: 0px;

	height: 400px;
	width: 300px;

	z-index: 1000;

	font-family: sans-serif;

	border: 1px solid #D8D8D8;
	border-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

	display:none;

	background-color: white;
}

.__embed_chat .chat .messages {
	overflow-y: scroll;
	height: calc(90% - 65px);
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #D8D8D8;
}

.__embed_chat .sendbox {
	display: flex;
	padding: 10px 15px 10px 15px;
	background-color: #F7F7F7;
}

.__embed_chat .chat .messages li {
	margin: 5px 15px 0px 15px;
	list-style-type: none;
	display:block;
}

.__embed_chat .chat .name {
	background-color: #E9ECEF;
	padding: 10px;
	border: 1px solid #ced4da;
	border-right: 0px;
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	position: relative;
	top: 1px;
}

.__embed_chat .chat input {
	height: 10%;
	width: 30%;

	border-radius: 5px;
	padding: 15px;
	border: 1px solid #ced4da;

	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: white;
	font-size: 14px;
}

.__embed_chat .sendname {
	width: 30%;
	text-align: right;
	display: inline-block;
	font-size: 14px;
	min-width: auto;

	padding-top: 15px;
	padding-bottom: 15px;
}

.__embed_chat .dot {
	height: 60px;
	width: 60px;
	background-color: #1972F5;
	border-radius: 50%;
	display: inline-block;

	position: fixed;
	right: 24px;
	bottom: 20px;

	box-shadow: 3px 3px 20px #ccc;
}

.__embed_chat .dot svg {
	display: block;
	filter: invert(100%);
	height: 35px;
	width: 35px;
	margin: auto;
	margin-top: 11px;
}

.__embed_chat .x {
	height: 20px;
	background-color: #F7F7F7;
	border-bottom: 1px solid #D8D8D8;
	padding: 0px 10px 3px 3px;
	text-align: right;
}
