.__embed_chat .chat,  {
	margin: 0;
	padding: 0;
}

.__embed_chat * {
	background-attachment: scroll!important;
	background-color: transparent!important;
	background-image: none!important;
	background-position: 0 0!important;
	background-repeat: repeat!important;
	border-color: currentcolor!important;
	border-style: none!important;
	border-width: medium!important;
	bottom: auto!important;
	clear: none!important;
	clip: auto!important;
	color: inherit!important;
	counter-increment: none!important;
	counter-reset: none!important;
	cursor: auto!important;
	direction: inherit!important;
	display: inline!important;
	float: none!important;
	font-size: inherit!important;
	font-style: inherit!important;
	font-variant: normal!important;
	font-weight: inherit!important;
	height: auto!important;
	left: auto!important;
	letter-spacing: normal!important;
	line-height: inherit!important;
	list-style-type: inherit!important;
	list-style-position: outside!important;
	list-style-image: none!important;
	margin: 0;
	max-height: none!important;
	max-width: none!important;
	min-height: 0!important;
	min-width: 0!important;
	outline: 0!important;
	overflow: visible!important;
	padding: 0;
	position: static!important;
	quotes: "" ""!important;
	right: auto!important;
	table-layout: auto!important;
	text-align: inherit!important;
	text-decoration: inherit!important;
	text-indent: 0!important;
	text-transform: none!important;
	text-rendering: auto!important;
	top: auto!important;
	unicode-bidi: normal!important;
	vertical-align: baseline!important;
	visibility: inherit!important;
	white-space: normal!important;
	width: auto!important;
	word-spacing: normal!important;
	z-index: auto!important;
	-webkit-background-origin: padding!important;
	-moz-background-origin: padding!important;
	-ms-background-origin: padding-box!important;
	-o-background-origin: padding-box!important;
	background-origin: padding-box!important;
	-webkit-background-clip: border!important;
	-moz-background-clip: border!important;
	background-clip: border-box!important;
	-webkit-background-size: auto!important;
	-moz-background-size: auto!important;
	-o-background-size: auto!important;
	background-size: auto!important;
	-moz-border-image: -moz--compass-list(none)!important;
	-webkit-border-image: -owg--compass-list(none)!important;
	-webkit-border-image: -webkit--compass-list(none)!important;
	-o-border-image: -o--compass-list(none)!important;
	border-image: none!important;
	-webkit-border-radius: 0!important;
	-moz-border-radius: 0!important;
	-ms-border-radius: 0!important;
	-o-border-radius: 0!important;
	border-radius: 0!important;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	box-shadow: none!important;
	-webkit-box-sizing: content-box!important;
	-moz-box-sizing: content-box!important;
	box-sizing: content-box!important;
	column-count: auto!important;
	column-gap: normal!important;
	column-rule: medium none #000!important;
	column-width: auto!important;
	column-span: 1!important;
	-webkit-text-fill-color: currentcolor!important;
	-webkit-tap-highlight-color: transparent!important;
	-moz-tap-highlight-color: transparent!important;
	-ms-tap-highlight-color: transparent!important;
	-o-tap-highlight-color: transparent!important;
	font-feature-settings: normal!important;
	overflow-x: visible!important;
	overflow-y: visible!important;
	-webkit-hyphens: manual!important;
	-moz-hyphens: manual!important;
	-ms-hyphens: manual!important;
	hyphens: manual!important;
	-webkit-hyphenate-character: "â€"!important;
	hyphenate-character: "â€"!important;
	-webkit-perspective: none!important;
	-moz-perspective: none!important;
	-ms-perspective: none!important;
	-o-perspective: none!important;
	perspective: none!important;
	-webkit-perspective-origin: 50% 50%!important;
	-moz-perspective-origin: 50% 50%!important;
	-ms-perspective-origin: 50% 50%!important;
	-o-perspective-origin: 50% 50%!important;
	perspective-origin: 50% 50%!important;
	-webkit-backface-visibility: visible!important;
	-moz-backface-visibility: visible!important;
	-ms-backface-visibility: visible!important;
	-o-backface-visibility: visible!important;
	backface-visibility: visible!important;
	text-shadow: none!important;
	-webkit-transition: all 0s ease!important;
	-webkit-transition-delay: 0s!important;
	-moz-transition: all 0s ease 0s!important;
	-o-transition: all 0s ease 0s!important;
	transition: all 0s ease 0s!important;
	word-break: normal!important;
}

.__embed_chat .chat {
	position: fixed;
	font-size: 17px;

	right: 25px;
	bottom: 0px;

	height: 400px;
	width: 300px;

	z-index: 1000;

	font-family: sans-serif;

	border: 1px solid #D8D8D8;
	border-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

	display:none;

	background-color: white;
}

.__embed_chat .chat .messages {
	overflow-y: scroll;
	height: calc(80% - 65px);
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #D8D8D8;
}

.__embed_chat .sendbox {
	display: flex;
	padding: 10px 15px 10px 15px;
	background-color: #F7F7F7;
}

.__embed_chat .chat .messages li {
	margin: 5px 15px 0px 15px;
	list-style-type: none;
}

.__embed_chat .chat .name {
	background-color: #E9ECEF;
	padding: 10px;
	border: 1px solid #ced4da;
	border-right: 0px;
	border-radius: 5px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	position: relative;
	top: 1px;
}

.__embed_chat .chat input {
	height: 10%;
	width:100%;

	border-radius: 5px;
	padding: 15px;
	border: 1px solid #ced4da;

	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.__embed_chat .sendname {
	text-align: right;
	padding-top: 10px;
}

.__embed_chat .dot {
	height: 60px;
	width: 60px;
	background-color: #1972F5;
	border-radius: 50%;
	display: inline-block;

	position: fixed;
	right: 24px;
	bottom: 20px;

	box-shadow: 3px 3px 20px #ccc;
}

.__embed_chat .dot svg {
	display: block;
	filter: invert(100%);
	height: 35px;
	width: 35px;
	margin: auto;
	margin-top: 11px;
}

.__embed_chat .x {
	height: 20px;
	background-color: #F7F7F7;
	border-bottom: 1px solid #D8D8D8;
	padding: 0px 10px 3px 3px;
	text-align: right;
}
